In [1]:
# revison

In [2]:
class Student:
    pass

In [3]:
s1 = Student()

In [4]:
print(type(s1))

<class '__main__.Student'>

In [7]:
s1.name = 'Aniket'

# email = '123@gmail.com'
# email.split('@')

In [8]:
print(s1.name)

Aniket

In [9]:
s2 = Student() #we are calling the class

In [11]:
s3 = Student #s3 will be a class now , we are assingh the class name to another variable

In [12]:
s4 = s3()
print(type(s4))

<class '__main__.Student'>

In [13]:
# adding more attributes
s1.roll = 120

In [14]:
print(s1.roll)

120

In [31]:
# using constructor


class Student:
    def __init__(self,name,roll,place): #self represents the object
        self.name = name
        self.roll = roll
        self.place = place
    def __str__(self):
#         return "Have a good day"
        return "The name of Student is : {} roll no is : {} live in {}".format(self.name,self.roll,self.place)
            
s5= Student('Akash',105,'Nashik')

In [18]:
print(s5.name)
print(s5.roll)
print(s5.place)

Akash
105
Nashik

In [22]:
l1 = [11,22,33,44]
print(l1)

[11, 22, 33, 44]

In [25]:
# print(list(s5)) #this is not possible as types are incompatible

In [26]:
print(s5)

<__main__.Student object at 0x0000014E0DDEC100>

In [28]:
def sum(a,b,c):
    print(a+b+c)
sum(10,20,30)

def mul(a,b,c):
    print(a*b*c)
mul(10,20,15)

60
3000

In [32]:
print(s5)

Have a good day

In [47]:
class Student:
    counter = 0
    def __init__(self,name): #self represents the object
        self.name = name        
        Student.counter = Student.counter+1
        self.roll = Student.counter
    def __str__(self):
#         return "Have a good day"
        return "The name of Student is : {} roll no is : {} ".format(self.name,self.roll)

In [48]:
s1 = Student('AMit')
print(s1)

The name of Student is : AMit roll no is : 1

In [49]:
s2 = Student('Akash')
print(s2)

The name of Student is : Akash roll no is : 2

In [50]:
s3 = Student('Aniket')
print(s3)

The name of Student is : Aniket roll no is : 3

In [51]:
s1.counter = 777 #we have created another attribue for the object s1

In [52]:
s2 = Student('Akash')
print(s2)

The name of Student is : Akash roll no is : 4

In [53]:
s5 = Student("Akhil")
print(s5)

The name of Student is : Akhil roll no is : 5

In [57]:
class Vehicle:
    country  = "India"
    def __init__(self,name,mileage):
        self.name =  name
        self.mileage = mileage
    def __str__(self):
        return "Vehicle name : {} \nMileage : {}".format(self.name,self.mileage)
        
v1 = Vehicle("Maruti",15)
print(v1)

Vehicle name : Maruti
Mileage : 15

In [58]:
print(v1.country)
# print(Vehicle.country)

India

In [60]:
v1.country = "USA"

In [61]:
v2 = Vehicle("mahindra" ,14)

In [67]:
print(v2.country)

SriLanka

In [63]:
print(v1.country)

USA

In [64]:
print(Vehicle.country)

India

In [65]:
Vehicle.country= "SriLanka"

In [66]:
print(Vehicle.country)

SriLanka