# Coulmns in Pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
f = open('fitbit.txt','r',encoding='UTF')
f.read()

'#date\t step_count\tmood\tcalories_burned\thours_of_sleep \tbool_of_active \tweight_kg\n06-10-2017\t5464\t200\t181\t6\t0\t68\n07-10-2017\t7167\t200\t208\t6\t0\t68\n08-10-2017\t9874\t300\t341\t5\t0\t68\n09-10-2017\t4969\t100\t190\t8\t0\t68\n10-10-2017\t8538\t300\t307\t5\t0\t68\n11-10-2017\t9875\t300\t302\t5\t0\t68\n12-10-2017\t4662\t100\t198\t8\t0\t68\n13-10-2017\t6310\t200\t201\t6\t0\t68\n14-10-2017\t7556\t200\t195\t6\t0\t68\n15-10-2017\t9073\t300\t327\t5\t0\t68\n16-10-2017\t9690\t300\t331\t5\t0\t68\n17-10-2017\t9146\t300\t318\t5\t0\t68\n18-10-2017\t9752\t300\t344\t5\t0\t68\n19-10-2017\t6974\t200\t204\t6\t0\t68\n20-10-2017\t5619\t200\t180\t6\t0\t68\n21-10-2017\t6889\t200\t201\t6\t0\t68\n22-10-2017\t8616\t300\t329\t5\t0\t68\n23-10-2017\t9131\t300\t315\t5\t0\t68\n24-10-2017\t4211\t100\t197\t8\t0\t68\n25-10-2017\t4291\t100\t184\t8\t0\t68\n26-10-2017\t8569\t300\t328\t5\t0\t68\n27-10-2017\t9337\t300\t322\t5\t0\t68\n28-10-2017\t8475\t300\t327\t5\t0\t68\n29-10-2017\t4510\t100\t148\t8\t0\t68\n30-10-2017\t6347\t200\t235\t6\t0\t68\n31-10-2017\t5911\t200\t184\t6\t0\t68\n'

In [4]:
df = pd.read_csv('gapminder_full.csv')

In [5]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [6]:
type(df)

pandas.core.frame.DataFrame

In [8]:
# df[0]
df['country']

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [9]:
df['year']

0       1952
1       1957
2       1962
3       1967
4       1972
        ...
1699    1987
1700    1992
1701    1997
1702    2002
1703    2007
Name: year, Length: 1704, dtype: int64

In [10]:
type(df['year'])

pandas.core.series.Series

In [11]:
# DataFrame is a collection of Series

In [12]:
df.columns

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [14]:
df[['year','population']]

      year  population
0     1952     8425333
1     1957     9240934
2     1962    10267083
3     1967    11537966
4     1972    13079460
...    ...         ...
1699  1987     9216418
1700  1992    10704340
1701  1997    11404948
1702  2002    11926563
1703  2007    12311143

[1704 rows x 2 columns]

In [15]:
type(df[['year','population']])

pandas.core.frame.DataFrame

In [18]:
# finding unique values
df['country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
       'Australia', 'Austria', 'Bahrain', 'Bangladesh', 'Belgium',
       'Benin', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Central African Republic', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Ethiopia',
       'Finland', 'France', 'Gabon', 'Gambia', 'Germany', 'Ghana',
       'Greece', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Haiti',
       'Honduras', 'Hong Kong, China', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kenya', 'Korea, Dem. Rep.',
       'Korea, Rep.', 'Kuwait', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Madagascar', 'Malawi', 'Malaysia', 'Mali', 'Mauritania',
       'Mauritius', 'Mexico', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Reunion', 'Romania', 'Rwanda',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Sierra Leone', 'Singapore', 'Slovak Republic', 'Slovenia',
       'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan',
       'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tanzania', 'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'United Kingdom', 'United States', 'Uruguay',
       'Venezuela', 'Vietnam', 'West Bank and Gaza', 'Yemen, Rep.',
       'Zambia', 'Zimbabwe'], dtype=object)

In [19]:
len(df['country'].unique())

142

In [20]:
# reading the fre of occurances of the data
df['country'].value_counts()

Afghanistan          12
Pakistan             12
New Zealand          12
Nicaragua            12
Niger                12
                     ..
Eritrea              12
Equatorial Guinea    12
El Salvador          12
Egypt                12
Zimbabwe             12
Name: country, Length: 142, dtype: int64

In [21]:
df['country'].value_counts().head(15)

Afghanistan    12
Pakistan       12
New Zealand    12
Nicaragua      12
Niger          12
Nigeria        12
Norway         12
Oman           12
Panama         12
Nepal          12
Paraguay       12
Peru           12
Philippines    12
Poland         12
Portugal       12
Name: country, dtype: int64

In [30]:
print(df['country'])

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [31]:
df.columns

Index(['country', 'year', 'population', 'continent', 'life_exp', 'gdp_cap'], dtype='object')

In [34]:
df.rename({'year':'YEAR'},axis=1,inplace=True) # for making per changes  inplace=True

In [35]:
df

          country  YEAR  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]