In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('gapminder_full.csv')

In [3]:
df

          country  year  population continent  life_exp     gdp_cap
0     Afghanistan  1952     8425333      Asia    28.801  779.445314
1     Afghanistan  1957     9240934      Asia    30.332  820.853030
2     Afghanistan  1962    10267083      Asia    31.997  853.100710
3     Afghanistan  1967    11537966      Asia    34.020  836.197138
4     Afghanistan  1972    13079460      Asia    36.088  739.981106
...           ...   ...         ...       ...       ...         ...
1699     Zimbabwe  1987     9216418    Africa    62.351  706.157306
1700     Zimbabwe  1992    10704340    Africa    60.377  693.420786
1701     Zimbabwe  1997    11404948    Africa    46.809  792.449960
1702     Zimbabwe  2002    11926563    Africa    39.989  672.038623
1703     Zimbabwe  2007    12311143    Africa    43.487  469.709298

[1704 rows x 6 columns]

In [7]:
# implicit and explicit indexing
# there is no limitation in using the index 
# duplicates are also allowed as indexing

In [8]:
s = pd.Series(['a','b','c'])

In [9]:
s = pd.Series(['a','b','c'],[2,5,5])

In [10]:
s

2    a
5    b
5    c
dtype: object

In [12]:
s[2]

'a'

In [13]:
s[5]

5    b
5    c
dtype: object

In [20]:
v = pd.Series(list('abcdefghi'),[1,1,2,2,3,3,4,4,5])

In [21]:
v

1    a
1    b
2    c
2    d
3    e
3    f
4    g
4    h
5    i
dtype: object

In [22]:
v[1]

1    a
1    b
dtype: object

In [23]:
v[3]

3    e
3    f
dtype: object

In [25]:
# v[0] this will give error

In [28]:
v[0:3]# in slicing it will use implicit indexing

1    a
1    b
2    c
dtype: object

In [30]:
v[1] #in calling the index it will use explicit indexing

1    a
1    b
dtype: object

In [31]:
# loc : explicit : given by user
# iloc : implicit : default by python

In [32]:
v

1    a
1    b
2    c
2    d
3    e
3    f
4    g
4    h
5    i
dtype: object

In [33]:
v.loc[1]

1    a
1    b
dtype: object

In [34]:
v.iloc[1]

'b'

In [35]:
v.iloc[-1]

'i'

In [37]:
v.loc[5]

'i'

In [40]:
v.iloc[::-1]

5    i
4    h
4    g
3    f
3    e
2    d
2    c
1    b
1    a
dtype: object